.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0 30px;

  &.is_active {
    background: rgba(236, 229, 225, 0.5);
    backdrop-filter: blur(20px);
  }

  .logo {
    display: inline-block;
    padding: 10px;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 28px;
    }
  }

  .main_nav {
    margin-left: 70px;

    .main_nav_item {
      display: inline-block;
      padding: 5px 20px 15px;
    }
  }

  .sub_nav {
    .sub_nav_item {
      display: inline-block;
      padding: 5px 20px 15px;
    }
  }
}
