@use 'sass:map';

$colors: (
  white: #fff,
  black: #000,
  beige: #d7b170,
  brown: #501704,
  khaki: #56754c,
  navy: #000082,
  gray20: #222,
  gray30: #333,
  gray40: #444,
  gray50: #555,
  gray60: #666,
  gray70: #777,
  gray80: #888,
  gray90: #999,
  green: #9ac75b,
  pink: #e95294,
  blue: #007aff,
  red: #f81542,
  bgBeige: #f4f1ed,
  bgKhaki: #9ca091,
  bgHeaderDim: rgba(236, 229, 225, 0.5),
  graySkeleton: #f0f1f4,
);

@mixin color($key, $value) {
  #{$key}: map.get($colors, $value);
}
