.wrap {
  position: relative;
  padding: 8vw 14vw;
  background: rgb(225, 218, 207);
  overflow: hidden;
}

.item_wrap {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: calc((100% - (20px * 2)) / 3);
    font-size: 0;

    &:not(:nth-child(3n + 1), :first-child) {
      margin-left: 20px;
    }

    &:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
      margin-top: 20px;
    }
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 2vw;
  font-size: 30px;
  transform: translateY(-50%) rotateZ(-90deg);

  &.right {
    right: 2vw;
    left: auto;
    transform: translateY(-50%) rotateZ(90deg);
  }
}

@media screen and (max-width: 720px) {
  .wrap {
    padding: 8vw 0 0;
    text-align: center;
  }

  .item {
    width: calc(100% / 2) !important;
    margin: 0 !important;

    &:last-child {
      display: none;
    }
  }

  .title {
    display: inline-block;
    position: static !important;
    padding-bottom: 10px;
    font-size: 23px !important;
    transform: none !important;

    &.right {
      display: none;
    }
  }
}
