.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 30px;
  background-color: pink;

  &.is-active {
    background: rgba(236, 229, 225, 0.5);
    backdrop-filter: blur(20px);
  }

  .logo {
    display: inline-block;
    padding: 10px;
    background-color: skyblue;

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 28px;
    }
  }

  .main_nav {
    margin-left: 70px;
    background-color: aquamarine;
    button {
      font-size: 15px;
      font-weight: 400;
    }

    .main_nav_item {
      display: inline-block;
      padding: 10px 30px;
    }
  }

  .sub_nav {
    button {
      font-size: 15px;
      font-weight: 400;
    }
    .sub_nav_item {
      display: inline-block;
      padding: 10px;
    }
  }
}
