.tab_category {
  display: flex;
  width: 80%;
  margin: 0 auto;

  b {
    display: inline-block;
    padding-right: 20px;
    box-sizing: border-box;
    border-right: 2px solid;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
  }

  ul {
    display: flex;
    justify-content: flex-start;

    li {
      margin-left: 20px;
    }

    a {
      color: #a19388;
      font-size: 13px;
      white-space: nowrap;
    }
  }
}
