.tab_header {
  margin-top: 10px;
  button {
    color: #222;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.active {
      border-bottom: 1px solid #999;
    }
  }
}

.tab_content {
  margin-top: 10px;
  color: #666;
  font-size: 13px;

  span {
    display: block;
    padding: 5px 0;
  }
}
