.wrap {
  position: relative;
  padding: 70px 80px 40px;

  &::before {
    display: block;
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #9ca091;
    content: '';
  }
}

.list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.item {
  width: calc(100% / 4);
  font-size: 0;
  &:not(:first-child) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    padding: 50px 50px 40px;
  }
  .item {
    width: calc(100% / 3);
    &:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .wrap {
    padding: 40px 20px 30px;
  }
  .item {
    width: calc(100% / 3);
    &:last-child {
      display: none;
    }
  }
}
