.item {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;

  img {
    position: static !important;
    width: 100%;
    height: auto !important;
  }
}

.num {
  position: absolute;
  top: 8px;
  left: 10px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  font-style: italic;
  text-shadow: 1px 1px rgb(0, 0, 0, 0.25);
}

.info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
  }

  .title {
    margin-top: 0;
    padding-top: 30px;
  }

  .title,
  .price {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
  }
}
