.item_wrap {
  img {
    width: 100%;
    height: auto;
  }

  .title {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }

  .price {
    display: block;
    margin-top: 3px;
    font-size: 12px;
  }

  .original_price {
    color: gray;
  }
}
