.background_wrap {
  background-color: #f4f1ed;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 160px;
  margin: 0 auto;
}

.image_wrap {
  display: grid;
  width: 70%;
  flex-wrap: wrap;
  grid-template: 41vw 41vw / calc((100% - 10px) / 2) calc((100% - 10px) / 2);
  gap: 10px;

  .img_box {
    position: relative;

    img {
      position: static;
      object-fit: cover;
    }
  }
}

.info_wrap {
  position: fixed;
  right: 2%;
  width: 30%;
  padding-left: 30px;
}

.breadcrumb {
  color: #999;
  font-size: 12px;
}

.item_title {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}

.price_box {
  margin-top: 10px;
  font-size: 13px;
  .s_price {
    margin-left: 10px;
  }
}

.color_wrap,
.size_wrap {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #d7d7d7;
  .txt {
    display: inline-block;
    width: 30px;
  }
}

.color_wrap {
  margin-top: 15px;
}

.size_wrap {
  border-top: none;
  border-bottom: 1px solid #d7d7d7;
}

.color,
.size {
  display: inline-block;
  font-size: 0;
  &:not(:first-child) {
    margin-left: 10px;
  }

  input[type='radio'] {
    display: none;

    &:checked ~ label {
      border: 2px solid black;
    }
  }

  label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
  }
}

.color label {
  &.orange {
    background-color: orange;
  }
  &.green {
    background-color: green;
  }
  &.blue {
    background-color: blue;
  }
  &.white {
    background-color: white;
  }
}

.size {
  font-size: 12px;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
  }
}

.btn_wrap {
  width: 100%;
  margin-top: 20px;
  button {
    width: 50%;
    padding: 10px 0;
    border: 1px solid #000;
    cursor: pointer;

    &.btn_buy {
      background-color: #000;
      color: white;
    }
  }
}
