.wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 160px;
  margin: 0 auto;
}

.image_wrap {
  display: grid;
  width: 70%;
  flex-wrap: wrap;
  grid-template: 41vw 41vw / calc((100% - 10px) / 2) calc((100% - 10px) / 2);
  gap: 10px;

  .img_box {
    position: relative;

    img {
      position: static;
    }
  }
}

.info_wrap {
  width: 30%;
  padding-left: 30px;
}

.breadcrumb {
  color: #999;
  font-size: 12px;
}
