.background_wrap {
  background-color: #f4f1ed;
  padding-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 160px;
  margin: 0 auto;
}

.image_wrap {
  display: grid;
  width: 65%;
  flex-wrap: wrap;
  grid-template: 35vw 35vw / calc((100% - 10px) / 2) calc((100% - 10px) / 2);
  gap: 10px;

  .img_box {
    position: relative;

    img {
      position: static;
      object-fit: cover;
    }
  }
}

.info_wrap {
  width: 30%;
}

.breadcrumb {
  color: #999;
  font-size: 13px;

  .category {
    text-transform: capitalize;
    margin-left: 2px;
  }
}

.item_title {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}

.price_box {
  margin-top: 10px;
  font-size: 13px;
  color: #666;
  .s_price {
    margin-left: 10px;
    color: #111;
  }
}

.btn_wrap {
  width: 100%;
  margin-top: 20px;
  button {
    width: 50%;
    padding: 10px 0;
    border: 1px solid #000;
    cursor: pointer;

    &.btn_buy {
      background-color: #000;
      color: white;
    }
  }
}
