.background_wrap {
  padding-bottom: 80px;
  background-color: #f4f1ed;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 120px;
  margin: 0 auto;
}

.image_wrap {
  display: grid;
  width: 65%;
  flex-wrap: wrap;
  grid-template: 35vw 35vw 35vw / calc((100% - 10px) / 2) calc(
      (100% - 10px) / 2
    );
  gap: 10px;

  .img_box {
    position: relative;

    img {
      position: static;
      object-fit: cover;
    }
  }
}

.info_wrap {
  width: 30%;
}

.breadcrumb {
  color: #999;
  font-size: 13px;

  .category {
    margin-left: 2px;
    text-transform: capitalize;
  }
}

.item_title {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}

.price_box {
  margin-top: 10px;
  color: #666;
  font-size: 13px;
  .s_price {
    margin-left: 10px;
    color: #111;
  }
}

.btn_wrap {
  width: 100%;
  margin-top: 20px;
  button {
    width: 50%;
    padding: 10px 0;
    border: 1px solid #000;
    cursor: pointer;

    &.btn_buy {
      background-color: #000;
      color: white;
    }
  }
}

@media screen and (max-width: 700px) {
  .background_wrap {
    padding-bottom: 10px;
  }
  .wrap {
    display: block;
    width: 100%;
    padding-top: 90px;
  }
  .image_wrap {
    display: block;
    width: 100%;
    font-size: 0;
  }
  .img_box {
    display: inline-block;
    width: 20%;
    height: 200px;

    &:first-child {
      width: 100%;
      height: 600px;
    }
  }

  .info_wrap {
    width: 100%;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 500px) {
  .img_box {
    width: 20%;
    height: 120px;

    &:first-child {
      width: 100%;
      height: 450px;
    }
  }
}
